
# ignore all .mat data
*.mat

# ignore the original data files
mat_script/data

# ignore online mapper examples
mat_script/src/MAPPER/example_scripts
mat_script/src/MAPPER/examples

# ignore sever feedbacks of tasks
*.out

# ignore tiff data files
*.tif
*.tiff

# ignore testing script of linux cluster
mat_script/testSDG
*.cmd

# ignore csv data file
*.csv
